name: Terraform Identity Check

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  identity:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: arn:aws:iam::273613910635:role/foundry-terraform-smoke
          aws-region: eu-west-1
      - name: Check caller identity
        run: aws sts get-caller-identity
